<!DOCTYPE html>
<html>
<head>
	<title>Baby Shower</title>
	<link rel="stylesheet" type="text/css" href="/css/baby.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta data-author="roy-delgado"/>
</head>
<body>
	<header class="sticky clouds">
		<span class="abc-blocks orange ltr-b"></span>
		<span class="abc-blocks light-green ltr-a"></span>
		<span class="abc-blocks purple ltr-b"></span>
		<span class="abc-blocks baby-blue ltr-y"></span>
		<h2 class="eta">April 2015</h2>
	</header>
	<section>
		<aside>
			<div class="stork"></div>
		</aside>
		<article>
			<div class="cloud-msg">
				<p>Be Happy!</p>
			</div>
		</article>
	</section>
	<footer>
		<p>&hearts; Baby has arrived! &hearts;</p>
	</footer>
</body>
</html>